@page
@model MealPlanner.Pages.Menus.MenuDetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Menu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.MenuName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.MenuName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Camp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Camp.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Meals)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Type</th>
                    <th>Day</th>
                </tr>
                @foreach (var item in Model.Menu.Meals)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MealType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Day)
                        </td>
                        <td></td>
                    </tr>
                }
            </table>
            <div>
                <button onclick="$('#addMeal').show()">Add Meal</button>
            </div>
            <div id="addMeal" style="display:none">
                <form method="post">
                    <div class="form-group">
                        <label asp-for="@Model.MealToCreate.Day" class="control-label"></label>
                        <input asp-for="@Model.MealToCreate.Day" class="form-control"/>
                        <span asp-validation-for="@Model.MealToCreate.Day" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.MealToCreate.MealType" class="control-label"></label>
                        <input asp-for="@Model.MealToCreate.MealType" class="form-control"/>
                        <span asp-validation-for="@Model.MealToCreate.MealType" class="text-danger"></span>
                    </div>
                    <input type="submit" value="Save Meal" asp-page-handler="SaveMeal" />
                </form>
            </div>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Menu.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
